*, html, body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  color: #2F2F2F;
  background-color: #212121;
  display: block;
}

svg {
  background-color: #F65BE3;
}

h1 {
  font-weight: 600;
  font-size: 4em;
  text-align: center;
  color: #fff;
}

p {
  color: #7f7f7f;
}

.heading {
  background-color: #212121;
  width: 100%;
  height: 90%;
}

.title {
  padding: 10% 20% 0% 20%;
}

.heading .title {
  text-align: center;
}

.description {
  padding: 5% 22% 0% 22%;
}

.description p {
  text-align: center;
  color: #4F4F4F;
}

.divide {
  width: 100%;
  height: 30%;
  background-color: #F65BE3;
}

.section {
  background-color: #B14AED;
  height: 100%;
  color: #fff;
}

.section h2 {
  font-size: 3em;
}

.section p {
  color: #fff;
}

.graphic {
  padding-bottom: 20%;
  background-color: #F65BE3;
  height: 90%;
}

.graphic h1 {
  font-size: 6em;
  line-height: 0.7em;
}

.graphic h2 {
  color: #fff;
  text-align: center;
  font-size: 3em;
}

.graphic span {
  position: relative;
  z-index: 100;
}

.graphic span::before {
  border-bottom: 0.45em solid rgba(255,255,255,0.5);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.2em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -100;
}

.graphic .description {
  padding-top: 3%;
  padding-bottom: 3%;
}

.graph {
  /* background-color: #F65BE3; */
  background-color: #FFF;
  height: 100%;
}

#graph1 {
  background-color: #FFF;
}

.zigzag {
    position: relative;
}

.zigzag .title h2 span {
  position: relative;
  z-index: 100;
}

/* .zigzag .title h2 span::before {
  border-bottom: 0.45em solid rgba(86,3,173, 0.5);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.2em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -100;
} */

.zigzag::after {
    background: linear-gradient(-30deg, #212121 10px, transparent 0), linear-gradient(30deg, #212121 10px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 20px 20px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
}

.section.graphic.zigzag::after {
  background: linear-gradient(-30deg, #B14AED 10px, transparent 0), linear-gradient(30deg, #B14AED 10px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 20px 20px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
}

.social {
  text-align: center;
  font-size: 3em;
  padding-top: 5%;
}

.social a {
  margin: 0 20px;
}

.social a:hover {
  color: #B14AED;
  cursor: pointer;
}

.social {
  position: relative;
  z-index: 100;
}

.social::after {
  border-bottom: 1em solid rgba(131, 50, 172, 1);
  content: "";
  left: 0;
  line-height: 1em;
  position: absolute;
  right: 0;
  top: 45%;
  z-index: -100;
}

.footer {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #212121;
  font-size: 0.5em;
  font-weight: 100;
}

.footer p {
  color: #4f4f4f;
}

.footer p a {
  color: #6f6f6f;
}
